.gamePane{
    -fx-background-image: url("/images/backgrounds/board.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.moveButton{
    -fx-background-color: #0254D0;
    -fx-opacity: 50%;
}
.buildButton{
    -fx-background-color: #eb4034;
    -fx-opacity: 50%;
}

.buildButton:hover,.moveButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}


.stack-pane{
    -fx-background-color: transparent;
}

.stack-pane.image-view{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.yesButton{
    -fx-background-image: url("/images/buttons/yes_button.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.yesButton:pressed{
    -fx-background-image: url("/images/buttons/yes_button_pressed.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.noButton{
    -fx-background-image: url("/images/buttons/no_button.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.noButton:pressed{
    -fx-background-image: url("/images/buttons/no_button_pressed.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.yesButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.noButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}


.heroPowerPane{
    -fx-background-color: rgba(128,128,128,0.5)
}
.turnText{
    -fx-stroke: black  ;
    -fx-stroke-width: 2;
}

.descriptionText{
    -fx-stroke: black  ;
    -fx-stroke-width: 1;
}

.log{
    -fx-stroke: black  ;
    -fx-stroke-width: 0.2;
}

.playerHero{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.playerHero:pressed{
    -fx-opacity: 90%;
}

.playerHero:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}


.serverLogPane {
    -fx-background-image: url("/images/backgrounds/serverLog3.png");
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
    -fx-text-fill: white;
}
.serverLog {
    -fx-background-color: transparent;

}


.serverLog .scroll-pane {
    -fx-background-color: transparent;
}


.serverLog .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.serverLog .scroll-pane .content{
    -fx-background-color: transparent;

}

.scroll-bar:vertical .track{
    -fx-background-color : rgba(210,198,185,0.5);
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #9e9486;
}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}
