
.stack-pane{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.pane{
    -fx-background-image: url("/images/backgrounds/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.centerStackPane:pressed{
    -fx-opacity: 90%;
}

.centerStackPane:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.doneButton{
    -fx-background-image: url("../images/buttons/done_button.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.doneButton:pressed{
    -fx-background-image: url("../images/buttons/done_button_pressed.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.doneButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.leftArrow:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.rightArrow:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.leftArrow{
    -fx-background-image: url("../images/buttons/left_arrow.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.rightArrow{
    -fx-background-image: url("../images/buttons/right_arrow.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}

.disconnectionPane{
    -fx-background-color:  rgba(128,128,128,0.5);
}

.closeButton{
    -fx-background-image: url("../images/buttons/exit_button.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.closeButton:pressed{
    -fx-background-image: url("../images/buttons/exit_button_pressed.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.closeButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.playerBox{
    -fx-background-color: #3f3f3f;
    -fx-opacity: 60%;
}
.waitingText{
    -fx-stroke: black  ;
    -fx-stroke-width: 2;
}
.disconnectionText{
    -fx-stroke: black  ;
    -fx-stroke-width: 1;
}
