.button{
    -fx-background-image: url("../images/btn_blue.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.button:pressed{
    -fx-background-image: url("../images/btn_blue_pressed.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: top-center;
}
.button:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}